<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscador de Comidas</title>
    {% load static %}
    <link rel="icon" type="imagen/png" href="{% static 'img/logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Poller+One&display=swap">
</head>

<body>
    <!--<"Barra de Navegación"">-->
    <header class="main-header">

        <div class="header-wrap">

            <div class="wrap-logo-header">
                <a ref="/" class="logo-header">
                    <span>Web<span>De</span><span>Restaurante</span>
                </a>
            </div>

            <div class="wrap-nav-header">
                <nav class="nav-header">
                    <input type="checkbox" id="check">
                    <label for="check" class="checkbtn">
                        <i class="toggle-menu">
                            <img class="logo" src="{% static 'img/logo.png' %}" alt="logo">
                        </i>
                    </label>

                    <ul class="main-menu">
                        <li class="menu-item"><a href="{% url 'index' %}">Inicio</a></li>
                        <li class="menu-item"><a href="{% url 'nosotros' %}">Nosotros</a></li>
                        <li class="menu-item"><a href="{% url 'carta' %}">Carta</a></li>
                        <li class="menu-item"><a href="{% url 'blog' %}">Blog</a></li>
                        <li class="menu-item"><a href="{% url 'buscadorcomidas' %}">Buscador de Comidas</a></li>
                        <li class="menu-item"><a href="{% url 'sucursales' %}">Sucursales</a></li>
                        <li class="menu-item"><a id="nav-main-contact" href="{% url 'contacto' %}">Contacto</a></li>
                    </ul>
                </nav>
            </div>
        </div>

    </header>

    <div class="hero" style="background-image:url({% static 'img/restaurant-logo.jpeg' %})">


    </div>

    <!--FIN DE NAVEGACION-->

    <section>
        <h1>Buscador de Comidas</h1>

        <input type="text" id="search" placeholder="Buscar comidas..."><button id="buscar"> Buscar</button>
        <div id="results">

        </div>
    </section>
    <footer class="footer">
        <div class="wrap-footer">
            <div class="text-element-footer element-footer">
                <h3>Restaurante</h3>
                <p>Nuestro restaurante se caracteriza por la atención personalizada, la rapidez en la entrega de los
                    pedidos en el local y en los domicilios.</p>
            </div>
            <div class="text-element-footer element-footer">
                <h5>Dirección</h5>
                <ul>
                    <ul>
                        <li>Avda San Martin 768</li>
                        <li>Departamento - GC</li>
                        <li>De Domingo a Martes de 11:00 a 22:00 horas</li>
                        <li>Movil: (+261) 600 00 00 </li>
                        <li>Tel: (+261) 900 00 00 </li>
                    </ul>
                </ul>
            </div>
            <div class="text-element-footer element-footer">
                <h5>Más información</h5>

            </div>
            <div class="rrss-element-footer element-footer">
                <h5>Redes Sociales</h5>
                <!-- Facebook -->
                <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com" target="_blank"
                    role="button"><i class="fab fa-facebook-f"><img src="{% static 'img/facebook.png' %}" alt="" width="20"
                            height="20"></i></a>
                <!-- WhatApp -->
                <a class="btn btn-outline-light btn-floating m-1" href="https://www.whatsapp.com" target="_blank"
                    role="button"><i class="fab fa-whatsapp"><img src="{% static 'img/WhatApp.png' %}" alt="" width="20"
                            height="20"></i></a>
                <!-- Instagram -->
                <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com" target="_blank"
                    role="button"><i class="fab fa-instagram"><img src="{% static 'img/instagram.png' %}" alt="" width="20"
                            height="20"></i></a>
            </div>
            <!-- Section: Social media -->
            <!-- Copyright -->
            <div class="text-center p-3">
                <a class="text-white" href="">© Cohort </a>
            </div>
        </div>
        </div>
        <div class="footer-creds">
            <div class="copy-creds">
                <p-1>©2023 · Todos los derechos reservados.</p-1>
            </div>
            <div class="legal-creds">
                <ul>
                    <li><a href="">Política de Privacidad</a></li>
                    <li><a href="">Política de Cookies</a></li>
                    <li><a href="">Aviso Legal</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="./assets/js/script.js"></script>

</body>

</html>